
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#0e1538,#751475);
    color: whitesmoke;
  }
  
  .card-desk{
  
  }
  
  .card-desk ul{
    display:flex;
    list-style: none;
    padding: 10px;
    gap: 10px;
  }
  
  .card-desk li div::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(#00ccff,#d400d4);
    justify-content: center;
    animation: animate 4s linear infinite;
    border-radius: 20px;
    left: 22%;
    top: -16%;
  }
  
  .card-desk li .front {
    inset: 6px;
    background: linear-gradient(#0e1538,#751475);
    border-radius: 20px;
    height: 95.7%;
    box-sizing: border-box;
  }
  
  .card-desk li{
    display: flex;
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    background: linear-gradient(#3c6bb3,#d40075);
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    border-radius: 20px;
  }
  
  .card-desk .back, .card-desk .front{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    backface-visibility: hidden;
    overflow: hidden;
  }
  
  .card-desk .flip{
    transform: rotateY(180deg);
  }
  
  .card-desk .front{
    transform: rotateY(180deg);
  }
  
  .card-desk img{
    height: 70px;
  }
  
  .card-desk .back{
    padding: 0px;
  }
  
  
  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(350deg);
    }
  }